{% extends 'base.html.twig' %}

{% block title %}50X{% endblock %}

{% block body %}
    <h1 class="cover-heading">Woops!</h1>
    <p class="lead">Please contact the site administrator</p>
{% endblock %}
